body {
	background: rgb(88,202,202); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(88,202,202,1) 0%, rgba(88,132,202,1) 25%, rgba(88,88,202,1) 50%, rgba(195,88,202,1) 75%, rgba(202,202,88,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(88,202,202,1)), color-stop(25%,rgba(88,132,202,1)), color-stop(50%,rgba(88,88,202,1)), color-stop(75%,rgba(195,88,202,1)), color-stop(100%,rgba(202,202,88,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(88,202,202,1) 0%,rgba(88,132,202,1) 25%,rgba(88,88,202,1) 50%,rgba(195,88,202,1) 75%,rgba(202,202,88,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(88,202,202,1) 0%,rgba(88,132,202,1) 25%,rgba(88,88,202,1) 50%,rgba(195,88,202,1) 75%,rgba(202,202,88,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(88,202,202,1) 0%,rgba(88,132,202,1) 25%,rgba(88,88,202,1) 50%,rgba(195,88,202,1) 75%,rgba(202,202,88,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(88,202,202,1) 0%,rgba(88,132,202,1) 25%,rgba(88,88,202,1) 50%,rgba(195,88,202,1) 75%,rgba(202,202,88,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58caca', endColorstr='#caca58',GradientType=1 ); /* IE6-9 */
	padding: 0px 0px 50px 0px;
	margin: 25px auto 0px auto;
}

#title {	
	font-family: 'Exo', sans-serif;
	font-size: 110px;
	line-height: 45px;
	text-align: left;
	padding: 35px 0px 0px 25px;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.88);
}

#content {
	width: 950px;
	margin: auto;
}

#cat_content1, #cat_content2, #cat_content3 {
	display: none;
	padding-left: 25px;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	line-height: 50px;
	text-align: left;
	color: #fff;
	text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.88);
}

#cat_content3 {
	width: 950px;
}


.box {
	margin-top: 25px;
	background-color: rgba(0,0,0,.4);
	height: 100px;
	width: 100%;
	border-top: 5px solid rgba(0,0,0,.1);
}

#box1 {
	background: -moz-linear-gradient(left,  rgba(30,87,153,.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(30,87,153,.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(30,87,153,.5) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(30,87,153,.5) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(30,87,153,.5) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
	position: relative;
}



#box2{
	background: -moz-linear-gradient(left,  rgba(191,38,38,.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(191,38,38,.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(191,38,38,.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(191,38,38,.5) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(191,38,38,.5) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(191,38,38,.5) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf2626', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
	position: relative;
}

#box3 {
	background: -moz-linear-gradient(left,  rgba(168,178,35,.5) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(168,178,35,.5)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(168,178,35,.5) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(168,178,35,.5) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(168,178,35,.5) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(168,178,35,.5) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8b223', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
	position: relative;
}

#box1, #box2, #box3{
	opacity: .8;
}

#box1:hover, #box2:hover, #box3:hover {
	opacity: 1;
}

#up1, #up2, #up3 {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 100px;
	height: 29px;
	background-image: url('../images/up-arrow.png');
	display: none;
	opacity: .6;
	text-align: center;
}	

#up1:hover, #up2:hover, #up3:hover {
	cursor: pointer;
	opacity: .8;
}	

.close_txt {
	position: absolute;
	bottom: 1px;
	right: 31px;
	color: #fff;
	font-family: courier;
	font-size: 14px;
}

.cat_title {
	padding-left: 25px;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	line-height: 100px;
	text-align: left;
	color: #fff;
	text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.88);
}

a{
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.small_txt {
	font-size: 15px;
	line-height: 30px;
}

.work_thumb {
	height: 300px;
	width: 300px;
	float:left;
	font-size: 15px;
	vertical-align: middle;
	text-align: center;
	line-height: 300px;
	margin: 0px;
	-webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    7px 7px 5px rgba(0, 0, 0, 0.75);
	box-shadow:         7px 7px 5px rgba(0, 0, 0, 0.75);
}

.work_thumb:hover {
	opacity: 0.8;
}

.work_link {
	background-color: rgba(0,0,0,.8);
	padding: 10px;
}

#me {
	float: left; 
	width:375px;
}

#links {
	float: left;
	padding: 33px 33px 32px 33px;
	background-color: rgba(0,0,0,.6);
}

#youtube {
	float:left;
}

#copy {
	float:right;
	width: 250px;
	background-color: rgba(255,255,255,.2);
	font-size: 11px;
	font-family: courier;
	color: rgba(255,255,255,.4);
	text-align: center;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
}

#info {
	height: 325px;
	background-color: rgba(0,0,0,.6);
	float: left;
	padding: 25px;
}